@use "./variables";

@use "./layout/header";
@use "./layout/main";
@use "./layout/footer";

@use "./elements/ball";

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    // --main-back: black;
    // --header-back: black;
    // --footer-back: black;
    height: 100%;

    body {
        height: 100%;
        background-color: variables.$main-color;
        color: variables.$main-text-color;

        font-family: variables.$font-family;
        font-family: variables.$font-size;
        display: flex;
        flex-direction: column;

        text-align: center;
        overflow-x: hidden;
    }
}