@use "sass:map";

$main-color: black;
$main-text-color: white;
$font-family: 'Source Code Pro', monospace;
$font-size: 16px;


@mixin color-lang($name) {
    .#{$name}-lang {
        background-color: map.get($lang-colors, $name+'-back');
        color: map.get($lang-colors, $name+'-text');
        font-weight: bold;
    }
}

//languages colors
$lang-colors: (
    "javascript-back": #F0DB4F,
    "javascript-text": #323330,
    "css-back": #264de4,
    "css-text": #ebebeb,
    "node-back":#3c873a,
    "node-text":#303030,
    "c-back": #e9e9e9,
    "c-text":#3336df,
    "sass-back":#F7F7F7,
    "sass-text":#C3548C,
);