@use "./../elements/post";
@use "./../elements/languages";
@use "./../elements/loading";

main {
    flex: 1;
    text-align: center;
    display: flex;
    @media screen and (max-width:750px) {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: auto 1fr;
        justify-items: center;
    }

    &>#post {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
    &>.btn {
        user-select: none;
        grid-row-start: 2;
        display: flex;
        font-size: 4em;
        align-items: center;
        justify-content: center;
        width: 10%;
        cursor: pointer;
        opacity: 0;
        transition: opacity 1s ease;
        z-index: 2;
    }
    &>.post-btn {
        opacity: 1;
    }

}