#loading-container {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  @media screen and (max-width: 750px) {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
    justify-self: center;
    height: 300px;
  }
  & > span {
    &::after {
      content: "";
      animation: dots-loading 1s infinite;
      position: absolute;
      width: 3rem;
      text-align: left;
    }
  }
}

@keyframes dots-loading {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }
}
